INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/man/dosis.1
include/autoconfig.h
include/autoconfig.h.in
include/datadir.h
include/stamp-h1
install-sh
missing
ylwrap
